<h1> Welcome to MY SITE! </h1>

<p>
The dogs name is <%= @dog %>
</p>


<p>

Read <a href="/about">About my Website</a>

</p>


<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel erat purus. Aliquam pharetra nulla at magna eleifend feugiat. Ut eleifend, ante a mollis aliquam, lectus massa lobortis enim, at vestibulum orci nunc et tortor. Ut suscipit mi at lectus egestas venenatis. Nunc ipsum tortor, interdum vel lectus semper, ultricies congue massa. Suspendisse diam enim, fermentum vel mauris rutrum, tristique facilisis massa. Cras sagittis dictum nibh, a iaculis neque egestas eget. Etiam id neque vel nisi maximus molestie at sit amet nibh. Mauris nec mollis sem. Pellentesque consequat lorem ac dolor aliquet, id accumsan leo porta. Donec ac felis nec massa volutpat ornare. Nullam ac convallis orci. Pellentesque aliquam dictum aliquam. Nam eleifend nulla neque, id euismod dolor varius ac. Mauris sit amet gravida dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.


</p>

